absl-py==2.3.0
accelerate==1.7.0
addict==2.4.0
aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs @ file:///C:/b/abs_e9fm5mk6ak/croot/aiohappyeyeballs_1734469429350/work
aiohttp @ file:///C:/b/abs_d4_gdjffav/croot/aiohttp_1734687146788/work
aiopubsub==3.0.0
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
aiosmtplib==4.0.1
alabaster @ file:///C:/b/abs_45ba4vacaj/croot/alabaster_1718201502252/work
alembic==1.16.1
altair==5.5.0
altgraph==0.17.4
aniso8601==7.0.0
APScheduler==3.11.0
arrow @ file:///C:/b/abs_c2lakss3ie/croot/arrow_1728676307980/work
asgiref==3.8.1
astroid @ file:///C:/b/abs_0cbdmb3jwk/croot/astroid_1736455948867/work
AstroKundli==3.1.0
asttokens==3.0.0
asyncinotify==4.2.1
asyncssh @ file:///C:/b/abs_8ee_ywwv_i/croot/asyncssh_1729522974229/work
atomicwrites==1.4.0
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
audioread==3.0.1
autopep8 @ file:///croot/autopep8_1708962882016/work
babel @ file:///C:/b/abs_ffzt1bmjth/croot/babel_1737454394148/work
backports.tarfile @ file:///C:/b/abs_c0eaq29_rf/croot/backports.tarfile_1728485199412/work
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
bitsandbytes==0.46.0
black @ file:///C:/b/abs_16b05kiqvj/croot/black_1737659150021/work
bleach @ file:///C:/b/abs_925i9psm3u/croot/bleach_1732292896852/work
blinker==1.9.0
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
buildozer @ https://github.com/kivy/buildozer/archive/master.zip#sha256=847be529af2f10dde5bc1740aa8aaf1568734243f8aa308f54e2469b4939b7eb
cachetools==5.5.2
certifi @ file:///C:/b/abs_3beajm7umk/croot/certifi_1745939228545/work/certifi
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
cfgv==3.4.0
chardet @ file:///C:/ci_311/chardet_1676436134885/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/b/abs_42rbjngfys/croot/click_1744271606983/work
cloudpickle @ file:///C:/b/abs_8abv3sva4p/croot/cloudpickle_1721657372632/work
colorama @ file:///C:/ci_311/colorama_1676422310965/work
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
comtypes==1.4.11
contourpy==1.3.2
cookiecutter @ file:///C:/b/abs_66untpu1ub/croot/cookiecutter_1711059869779/work
cryptography @ file:///C:/b/abs_ae5lrkywtg/croot/cryptography_1740577842775/work
cssselect==1.3.0
cycler==0.12.1
Cython==0.29.37
dataclasses==0.6
DateTime==5.5
debugpy @ file:///C:/b/abs_bf9oo2vhxp/croot/debugpy_1736269476451/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated @ file:///C:/ci_311/deprecated_1676449537441/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///C:/b/abs_f79eg27d2q/croot/dill_1715094735295/work
Distance==0.1.3
distlib==0.3.8
dj-database-url==3.0.1
Django==5.2.3
docker-py==0.5.3
dockerpty==0.3.4
docopt==0.6.2
docstring-to-markdown @ file:///C:/ci_311/docstring-to-markdown_1677742566583/work
docutils @ file:///C:/b/abs_8d42id67ov/croot/docutils_1744664123685/work
dotmap==1.3.30
einops==0.8.1
et_xmlfile==2.0.0
executing==2.2.0
facexlib==0.3.0
fastjsonschema @ file:///C:/b/abs_4ev90296ly/croot/python-fastjsonschema_1731939386416/work
filelock==3.18.0
filterpy==1.4.5
flake8 @ file:///C:/b/abs_11zrixwsv1/croot/flake8_1726157202790/work
Flask==3.1.1
fluidsynth==0.2
fonttools==4.58.0
fpdf==1.7.2
frozenlist @ file:///C:/b/abs_06ctmb1zeo/croot/frozenlist_1730903113463/work
fsspec==2025.5.1
ftfy==6.3.1
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==2.0.0
graphql-ws==0.4.4
greenlet==3.2.3
grpcio==1.71.0
gunicorn==23.0.0
html5tagger==1.3.0
httptools==0.6.4
huggingface-hub==0.32.3
icecream==2.1.4
identify==2.6.12
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
imageio==2.37.0
imagesize @ file:///C:/ci_311/imagesize_1676431905616/work
immanuel==1.5.0
importlib_metadata @ file:///C:/b/abs_9d0lp1ysmt/croot/importlib_metadata-suite_1732633510972/work
inflection==0.5.1
iniconfig==2.1.0
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///C:/b/abs_6c9ggygp01/croot/ipykernel_1737660720620/work
ipython @ file:///C:/b/abs_8eyhzleyrk/croot/ipython_1734548134403/work
isort @ file:///C:/b/abs_7es817tui1/croot/isort_1741285183905/work
itsdangerous==2.2.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jaraco.context @ file:///C:/b/abs_6f48xbyztf/croot/jaraco.context_1728505024809/work
jaraco.functools @ file:///C:/b/abs_a1jv6v_pzp/croot/jaraco.functools_1740408129620/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
jellyfish @ file:///C:/b/abs_c5ua9cti7n/croot/jellyfish_1736367467867/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib==1.5.0
jsonschema @ file:///C:/b/abs_394_t6__xq/croot/jsonschema_1728486718320/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter_client @ file:///C:/b/abs_149bw133if/croot/jupyter_client_1737570986926/work
jupyter_core @ file:///C:/b/abs_beftpbuevw/croot/jupyter_core_1718818307097/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
keyring @ file:///C:/b/abs_596d81ux2c/croot/keyring_1745484709696/work
kiwisolver==1.4.8
lazy_loader==0.4
librosa==0.11.0
linkify-it-py==2.0.3
llvmlite==0.44.0
lmdb==1.6.2
loguru==0.7.3
lxml==5.4.0
Mako==1.3.10
Markdown==3.8
markdown-it-py @ file:///C:/b/abs_a5bfngz6fu/croot/markdown-it-py_1684279915556/work
markdown2==2.5.3
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.3
matplotlib-inline @ file:///C:/ci_311/matplotlib-inline_1676425798036/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins==0.4.2
mdurl @ file:///C:/ci_311/mdurl_1676442676678/work
mido==1.3.3
mido_fix==1.2.12
mingus==0.6.1
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
more-itertools @ file:///C:/b/abs_a2n4mhb8gn/croot/more-itertools_1727185463826/work
mpmath==1.3.0
msgpack==1.1.0
multidict @ file:///C:/b/abs_19e3ubo2ew/croot/multidict_1730905504444/work
musescore==0.0.2
musicpy==7.11
mypy-extensions @ file:///C:/b/abs_8f7xiidjya/croot/mypy_extensions_1695131051147/work
narwhals==1.40.0
nbclient @ file:///C:/b/abs_a09c4t3h8x/croot/nbclient_1741124030330/work
nbconvert @ file:///C:/b/abs_c27_60dzt8/croot/nbconvert-meta_1741191385337/work
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.5
nodeenv==1.9.1
numba==0.61.2
numpy==2.2.5
numpydoc @ file:///C:/b/abs_bbspp5l8vu/croot/numpydoc_1718279185573/work
odf==0.0.1
openai-clip==1.0.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
packaging @ file:///C:/b/abs_3by6s2fa66/croot/packaging_1734472138782/work
pandas==2.2.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///C:/b/abs_834b4mj92b/croot/parso_1733963322289/work
passlib==1.7.4
pathspec @ file:///C:/ci_311/pathspec_1679427644142/work
pefile==2023.2.7
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==11.2.1
platformdirs @ file:///C:/b/abs_ddh15014or/croot/platformdirs_1744273060660/work
pluggy @ file:///C:/b/abs_dfec_m79vo/croot/pluggy_1733170145382/work
ply==3.11
pocketrockit==0.0.31
pooch==1.8.2
pre_commit==4.2.0
promise==2.3
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
propcache @ file:///C:/b/abs_57780xb0gk/croot/propcache_1744012740137/work
protobuf==6.31.0
psutil @ file:///C:/b/abs_b5gv3mn55h/croot/psutil_1736371546320/work
psycopg2==2.9.10
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py==1.11.0
pyarrow==20.0.0
pyasn1==0.6.1
PyAudio==0.2.14
pybind11==2.13.6
pycodestyle @ file:///C:/b/abs_9bj6ihy3hn/croot/pycodestyle_1726150314067/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydeck==0.9.1
pydocstyle @ file:///C:/ci_311/pydocstyle_1678402028085/work
pydub==0.25.1
pyflakes @ file:///C:/b/abs_b6t1aazq2e/croot/pyflakes_1708963020907/work
pyfluidsynth==1.3.4
pygame==2.6.1
pygame-ce==2.5.3
PyGithub @ file:///C:/b/abs_9alojnzbid/croot/pygithub_1725976303706/work
Pygments @ file:///C:/b/abs_e4bg5vh5j_/croot/pygments_1744667628203/work
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyiqa==0.1.13
PyJWT @ file:///C:/b/abs_02n5wes3j9/croot/pyjwt_1736178904450/work
pylint @ file:///C:/b/abs_52tcgdpqsk/croot/pylint_1743709218105/work
pylint-venv @ file:///C:/b/abs_3f6p_17zia/croot/pylint-venv_1709837680309/work
pyls-spyder==0.4.0
PyNaCl @ file:///C:/b/abs_b9cyxk0xhf/croot/pynacl_1736542112237/work
pyparsing==3.2.3
pypiwin32==223
PyQt5==5.15.10
PyQt5_sip @ file:///C:/b/abs_d1i1jr9fgt/croot/pyqt-split_1736540551157/work/pyqt_sip
PyQtWebEngine==5.15.6
pyquery==2.0.1
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
pyswisseph==2.8.0.post1
pytest==8.3.5
pytest-runner==6.0.1
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-lsp-black @ file:///C:/b/abs_56xq_70uqy/croot/python-lsp-black_1744023225294/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///C:/b/abs_dd5ho9pgae/croot/python-lsp-server_1743715808372/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
pytoolconfig @ file:///C:/b/abs_f2j_xsvrpn/croot/pytoolconfig_1701728751207/work
pyttsx3==2.98
pytz==2025.2
pyuca @ file:///C:/b/abs_c4xy4agr42/croot/pyuca_1726251471052/work
pywin32==308
pywin32-ctypes==0.2.2
PyYAML==3.13
pyzmq @ file:///C:/b/abs_f3yte6j5yn/croot/pyzmq_1734711069724/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///C:/ci_311/qstylizer_1678502012152/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///C:/b/abs_f3usq20nxv/croot/qtawesome_1744810809443/work
qtconsole @ file:///C:/b/abs_077eiqc5gw/croot/qtconsole_1744633984381/work
QtPy @ file:///C:/b/abs_derqu__3p8/croot/qtpy_1700144907661/work
redis==6.2.0
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
regex==2024.11.6
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
roman-numerals-py @ file:///C:/b/abs_c6xpj9atdr/croot/roman-numerals-py_1744666293821/work
rope @ file:///C:/b/abs_2232rxaz98/croot/rope_1743709233829/work
rpds-py @ file:///C:/b/abs_0c6z5kcdb6/croot/rpds-py_1736545465023/work
rsa==4.9.1
Rtree @ file:///C:/ci_311/rtree_1676455758391/work
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
Rx==1.6.3
safetensors==0.5.3
sanic==25.3.0
Sanic-Cors==2.2.0
Sanic-GraphQL==1.1.0
sanic-jwt==1.8.0
sanic-routing==23.12.0
sanic_compress==0.1.1
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
sentencepiece==0.2.0
sf2_loader==1.25
sf2utils==0.9.0
sh==2.0.6
shellingham==1.5.4
simpleaudio==1.0.4
singledispatch==3.7.0
sip @ file:///C:/b/abs_b6twfwtueg/croot/sip_1736544693649/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smmap==5.0.2
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
sounddevice==0.5.2
soundfile==0.13.1
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
soxr==0.5.0.post1
SpeechRecognition==3.10.3
Sphinx @ file:///C:/b/abs_38umzzph7f/croot/sphinx_1744737150958/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///C:/b/abs_22fibxeqsn/croot/spyder_1744816409025/work
spyder-kernels==2.5.2
SQLAlchemy==1.4.54
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.3
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
streamlit==1.45.1
stripe==12.2.0
style==1.1.0
superqt @ file:///C:/b/abs_11kt812ym3/croot/superqt_1743709210824/work
sympy==1.14.0
tabulate @ file:///C:/b/abs_21rf8iibnh/croot/tabulate_1701354830521/work
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///C:/b/abs_60f65m175u/croot/textdistance_1731571669774/work
texttable==0.8.8
textual==0.25.0
threadpoolctl==3.6.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile==2025.5.26
timezonefinder==5.2.0
timm==1.0.15
tinycss2 @ file:///C:/b/abs_df38owi5ma/croot/tinycss2_1738337725183/work
tinysoundfont==0.3.6
tokenizers==0.15.2
toml==0.10.2
tomli @ file:///C:/ci_311/tomli_1676422027483/work
tomlkit @ file:///C:/b/abs_07yc6lwf0e/croot/tomlkit_1728650313581/work
torch==2.7.0
torchvision==0.22.0
tornado @ file:///C:/b/abs_7cyu943ybx/croot/tornado_1733960510898/work
tqdm==4.67.1
tracerite==1.1.1
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
transformers==4.37.2
typer==0.12.5
typing==3.7.4.3
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata==2025.2
tzlocal==5.3.1
uc-micro-py==1.0.3
ujson @ file:///C:/b/abs_e5a_v6aejl/croot/ujson_1736543954444/work
Unidecode @ file:///C:/b/abs_4cczv71djp/croot/unidecode_1724790062151/work
update==0.0.1
urllib3 @ file:///C:/b/abs_7bst06lizn/croot/urllib3_1737133657081/work
virtualenv==20.25.1
watchdog @ file:///C:/b/abs_29_7vso69r/croot/watchdog_1740409940307/work
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==0.11.0
websockets==15.0.1
Werkzeug==3.1.3
whatthepatch @ file:///C:/ci_311/whatthepatch_1678402578113/work
whitenoise==6.9.0
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
win32_setctime==1.2.0
wrapt @ file:///C:/b/abs_68gzx33lzh/croot/wrapt_1736543196433/work
yapf @ file:///C:/b/abs_8aidayep18/croot/yapf_1708964372649/work
yarl @ file:///C:/b/abs_281qby2vim/croot/yarl_1732546854547/work
zipp @ file:///C:/b/abs_2fcpcg89my/croot/zipp_1732630746332/work
zope.interface==7.2
