<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>AsztroApp</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <header>
    <h1>🌠 Horoszkóp Generátor</h1>
	<nav style="margin-bottom: 20px;">
		<a href="{% url 'eloregisztracio' %}">🧘 Ébredés közösségi oldal</a> 
		<a href="{% url 'astro_main' %}">🔭 Horoszkóp generálás</a>
	</nav>

  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>© 2025 Zsombor – Minden jog fenntartva</p>
  </footer>
</body>
</html>
